.slider{
    height: calc(100vh - 80px);
    width: 100vw;
    position: relative;
    overflow: hidden;

    .container{
        width: 300vw;
        height: 100%;
        display: flex;
        transition: all 1s ease;

        img{
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }

    .wrapper{
        display: flex;
        justify-content: center;
    }
    
    .icons{
        width: 600px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 100px;
        
        .icon{
            cursor: pointer;

            .arrow{
                color: white;
                font-size: 50px;
            }
        }
    }
}

@media  ( max-width: 768px){
    .slider{
        height: calc(80vh - 80px);
    }
}

@media  ( max-width: 420px){
    .slider{
        height: calc(80vh - 80px);
    }
}