.featuredProducts {
  
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
      margin-top: 50px;
      padding: 0px 50px;
  
      h1 {
        flex: 2;
        text-transform: capitalize;
      }
  
      p{
        margin: 0;
        flex:3;
        color:gray
      }
    }
  
    .bottom{
      padding: 0px 20px;
      display: flex;
      justify-content: center;
      gap: 25px;
      margin-bottom: 40px;

      .item{
        flex-basis: 280px;
      }
    }
  }

  @media  ( max-width: 768px){
    .featuredProducts{
      margin: 0;

      .top{
        padding: 30px 20px;
        margin-bottom: 25px;
        margin-top: 20px;

        h1{
          font-size: 24px;
        }

        p{
          font-size: 14px;
        }
      }

      .bottom{
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
      }
    }
  }

  @media  ( max-width: 420px){
    .featuredProducts{
      
      .top{
        padding: 10px 15px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        h1{
          display: block;
          font-size: 20px;
        }

        p{
          display: block;
          font-size: 12px;
        }
      }
    }
  }