.featuredProducts {
    margin: 50px 200px;
  
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
  
      h1 {
        flex: 2;
        text-transform: capitalize;
      }
  
      p{
        margin: 0;
        flex:3;
        color:gray
      }
    }
  
    .bottom{
      display: flex;
      justify-content: center;
      gap: 50px;
    }
  }

  @media  ( max-width: 768px){
    .featuredProducts{
      margin: 0;

      .top{
        padding: 30px 10px;
        margin-bottom: 25px;

        h1{
          font-size: 24px;
        }

        p{
          font-size: 14px;
        }
      }

      .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .item:nth-child(n + 3){
          display: none;
        }
      }
    }
  }