.empty{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 40px;
    height: 31vh;

    .empty-cart{
        font-size: 40px;
    }
    .cta {
        border: none;
        background: none;
        font-family: 'Oswald', sans-serif;
      }
      
      .cta span {
        padding-bottom: 7px;
        letter-spacing: 4px;
        font-size: 18px;
        padding-right: 15px;
        text-transform: uppercase;
      }
      
      .cta svg {
        transform: translateX(-8px);
        transition: all 0.3s ease;
      }
      
      .cta:hover svg {
        transform: translateX(0);
      }
      
      .cta:active svg {
        transform: scale(0.9);
      }
      
      .hover-underline-animation {
        position: relative;
        color: black;
        padding-bottom: 20px;
      }
      
      .hover-underline-animation:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .cta:hover .hover-underline-animation:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
}

.order-page {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;

    .order-page__left {
        width: 60%;
    }

    .order-page__right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 18px;
        font-weight: bold;

        .payment-btn {
            font-family: Menlo, Roboto Mono, monospace;
            font-size: 14px;
            width: 200px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(15, 15, 15);
            border: none;
            color: white;
            font-weight: 600;
            gap: 8px;
            cursor: pointer;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
            position: relative;
            overflow: hidden;
            transition-duration: .3s;
          }
          
          .svgIcon {
            width: 16px;
          }
          
          .svgIcon path {
            fill: white;
          }
          
          .payment-btn::before {
            width: 200px;
            height: 130px;
            position: absolute;
            content: "";
            background-color: white;
            border-radius: 50%;
            left: -100%;
            top: 0;
            transition-duration: .3s;
            mix-blend-mode: difference;
          }
          
          .payment-btn:hover::before {
            transition-duration: .3s;
            transform: translate(100%,-50%);
            border-radius: 0;
          }
          
          .payment-btn::active {
            transform: translate(5px,5px);
            transition-duration: .3s;
          }

        span{
            font-size: 20px;
        }
        
        .reset{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 18px;

            .delete{
                display: block;
                cursor: pointer;
                color: red;
            }

            .delete:hover{
                color: #000000;
            }
        }
    }
}

@media  ( max-width: 768px){
    .empty{
        padding-bottom: 40px;
        min-height: 20vh;
        .empty-cart{
            font-size: 35px;
        }

        button{
            min-width: 150px;
        }
    }

    .order-page{
        padding: 10px 20px;
        gap: 10px;

        .order-page__left {
            flex-basis: 500px;
        }

        .order-page__right {
            align-items: flex-end;

            span{
                font-size: 18px;
            }
    
            button{
                font-size: 14px;
                width: 160px;
                padding: 10px;

            }
        }
    }
}

@media  ( max-width: 420px){
    .empty{
        padding-top: 15px;
        padding-left: 30px;
        height: 10vh;
        .empty-cart{
            font-size: 26px;
        }

        button{
            min-width: 100px;
        }
    }

    .order-page{
        padding: 30px 20px;
        gap: 10px;
        flex-direction: column;

        .order-page__right{
            width: 100%;
            gap: 20px;
            flex-direction: column-reverse;
            align-items: flex-start;

            .order-page__total-price{
                align-self: flex-start;
            }

            button{
                align-self: flex-start;
                display: block;
                font-size: 14px;
                min-width: 100px;
                height: 50px;
            }
        }
    }
}