.filterItem {
    margin-bottom: 30px;

    .filters{

        .filters-price{

            h3{
                font-size: 22px;
            }

            .values{
                font-size: 20px;
                margin-bottom: 10px;
            }

            .filters-price__slider{
                .filters-slider{
                    width: 70%;
                    height: 5px;
                    background: linear-gradient(90deg, rgba(40,121,254,1) 72%, rgba(0,212,255,1) 100%);
                    margin-top: 30px;
                    margin-bottom: 50px;
                }

                .filters-slider .thumb{
                    width: 23px;
                    height: 23px;
                    cursor: grab;
                    background: #fff;
                    border-radius: 50%;
                    border: 2px solid #275efe;
                    top: -10px;
                }

                .track-1{
                    background-color: #275efe;
                }

            }
        }
    }
}

@media (max-width: 768px) {

    .filterItem {
        margin-bottom: 15px;

        .filters {

            .filters-price {

                .filters-price__slider {

                    .filters-slider {
                        width: 90%;
                    }
                }
            }
        }

        h2 {
            font-size: 20px;
        }
    }
}

@media ( max-width: 420px){
.filterItem {

        .filters {

            .filters-price {

                .filters-price__slider {

                    .filters-slider {
                        width: 70%;
                    }
                }
            }
        }

        h2 {
            font-size: 20px;
        }
    }
}