.profile{
    position: absolute;
    top: 83px;
    right: 20px;
    z-index: 999;
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 30px rgba(0,0,0,.2)
}

.auth_button_login{
    font-family: Menlo, Roboto Mono, monospace;
    font-size: 16px;
    color: black;
}

.logout {
    font-family: Menlo, Roboto Mono, monospace;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: black;
    font-size: 12px;
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .logout:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .logout:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 0px;
  }
  /* hover effect button's text */
  .logout:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .logout:active {
    transform: translate(2px ,2px);
  }

  .login {
    /* btn background */
    --btn_bg: #fff;
    --btn_hover_bg: #fff;
    /* btn border */
    --btn_border_width: 0.125em;
    --btn_border_color: #000;
    --btn_border_radius: 20px;
    /* btn text */
    --btn_text_color: #000;
    --btn_hover_text_color: var(--btn_border_color);
    --btn_letter_spacing: 0.0625em;
    /* btn font */
    --btn_font_size: 16px;
    --btn_font_weight: bold;
    --btn_font_family: Menlo, Roboto Mono, monospace;
    /* btn transition */
    --btn-transition: .3s cubic-bezier(0.75, 0, 0.125, 1);
  }
  
  .login {
    box-sizing: border-box;
    color: var(--btn_text_color);
    border: none;
    border-radius: var(--btn_border_radius);
    background-color: var(--btn_hover_bg);
    padding: 3px 10px;
    font-weight: var(--btn_font_weight);
    font-family: Menlo, Roboto Mono, monospace;
    font-size: var(--btn_font_size);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--btn-transition);
    letter-spacing: var(--btn_letter_spacing);
  }
  
  .login::before {
    content: "";
    background-color: var(--btn_bg);
    position: absolute;
    inset: 0;
    transition: var(--btn-transition);
    pointer-events: none;
  }
  
  .login span {
    position: relative;
    z-index: 1;
  }
  
  .login:hover {
    color: var(--btn_hover_text_color);
    box-shadow: inset 0 0 0 var(--btn_border_width) var(--btn_border_color);
  }
  
  .login:hover::before {
    transform: scaleX(0.75);
    opacity: 0;
  }

  .sign-up {
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    font-family: Menlo, Roboto Mono, monospace;
    font-size: 16px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 3px 10px;
    background: #555;
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    cursor: pointer;
  }
  
  .sign-up .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sign-up .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .sign-up .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .sign-up:hover {
    background: var(--hover-color);
  }
  
  .sign-up:hover .arrow {
    background: var(--secondary-color);
  }
  
  .sign-up:hover .arrow:before {
    right: 0;
  }

@media  ( max-width: 768px){
    .profile{
        top: 65px;
        padding: 15px;
    }
}

@media  ( max-width: 420px){
    .profile{
        top: 50px;
        right: 0px;
        padding: 10px;
    }
}