html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#App {
  font-family: 'Oswald', sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  overflow-x: hidden;
}

.app{
  position: relative;
    .link{
      color: inherit;
      text-decoration: none;
    }
  }