html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
}

body{
  margin: 0;
}

#root{
  height: 100%;
}

#App {
  font-family: 'Oswald', sans-serif;
  height: 100%;
}

#page-wrap {
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.outlet{
  flex-grow: 1;
}

.app{
  position: relative;
    .link{
      color: inherit;
      text-decoration: none;
    }
  }