html {
  overflow-x: hidden;
  box-sizing: border-box;

}

body {
  font-family: 'Oswald', sans-serif;
}

.app{
  overflow: hidden;
    .link{
      color: inherit;
      text-decoration: none;
    }
  }