.list{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 20px;

    .item{
        flex-basis: 280px;
    }
}

@media  ( max-width: 768px){
    .list{
        justify-content: center;
        gap: 0px;
    }
}