.list{

    .list-empty{
        display: flex;
        height: 80vh;
        justify-content: center;
        align-items: center;

        span{
            font-size: 30px;
        }
    }

    .list-items{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        margin-bottom: 20px;

        .item{
            flex-basis: 280px;
            width: 28%;
        }

        .loading{
            opacity: 0.6;
            background: #fff;
        }
    }

    .loading{
        opacity: 0.6;
        background: #fff;
    }
}

@media  ( max-width: 768px){
    .list{
        justify-content: center;
        gap: 0px;

        .list-items{
            gap: 30px;
            margin-bottom: 40px;
        }
    }
}

@media  ( max-width: 420px){

    .list{
        .list-empty{
            height: 40vh;
    
            span{
                font-size: 24px;
            }
        }
    }
}