.products {
    display: flex;
    padding: 0px 50px;

    .left {
        flex: 1;
        position: sticky;
        height: 100%;
        top: 50px;

        .filterItem {
            margin-bottom: 30px;

            h2 {
                margin: 0;
                font-weight: 400;
                margin-bottom: 20px;
            }

            .inputItem {
                display: flex;
                margin-bottom: 10px;

                label {
                    margin-left: 10px;
                }
            }
        }
    }

    .right {
        flex: 3;

        .catImg {
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 50px;
        }
    }
}

@media  ( max-width: 768px){
    .products {
        padding: 10px 20px;
        gap: 10px;

        .left{

            .filterItem {
                margin-bottom: 15px;
    
                h2{
                    font-size: 20px;
                }
            }
        }

        .right {

            .catImg {
                height: 250px;
                margin-bottom: 30px;
            }
        }
    }
}