.products {
    display: flex;
    padding: 0px 50px 50px 50px;

    .left {
        flex: 1;
        position: sticky;
        height: 100%;
        top: 100px;

        .container form {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 10px;
          }
          
          .container label {
            display: flex;
            cursor: pointer;
            font-weight: 500;
            position: relative;
            overflow: hidden;
            margin-bottom: 0.375em;
          }
          
          .container  label input {
            position: absolute;
            left: -9999px;
          }
          
          .container label input:checked + span {
            background: linear-gradient(90deg, rgba(40,121,254,1) 72%, rgba(0,212,255,1) 100%);
            color: white;
          }
          
          .container label input:checked + span:before {
            box-shadow: inset 0 0 0 0.4375em #000;
          }
          
          .container label span {
            display: flex;
            align-items: center;
            padding: 0.375em 0.75em 0.375em 0.375em;
            border-radius: 99em;
            transition: 0.25s ease;
            color: #000;
          }
          
          .container label span:hover {
            background-color: #d6d6e5;
          }
          
          .container label span:before {
            display: flex;
            flex-shrink: 0;
            content: "";
            background-color: #fff;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            margin-right: 0.375em;
            transition: 0.25s ease;
            box-shadow: inset 0 0 0 0.125em #000;
          }
          

        .filterItem {
            margin-bottom: 30px;

            h2 {
                margin: 0;
                font-weight: 700;
                margin-bottom: 20px;
            }

            .inputItem {
                display: flex;
                margin-bottom: 10px;

                .input{
                    display: flex;
                    align-items: baseline;

                        .ui-checkbox {
                            --primary-color: #1677ff;
                            --secondary-color: #fff;
                            --primary-hover-color: #4096ff;
                            --checkbox-diameter: 15px;
                            --checkbox-border-radius: 5px;
                            --checkbox-border-color: #d9d9d9;
                            --checkbox-border-width: 1px;
                            --checkbox-border-style: solid;
                            --checkmark-size: 1;
                        }
                        
                        .ui-checkbox, 
                        .ui-checkbox *, 
                        .ui-checkbox *::before, 
                        .ui-checkbox *::after {
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                        }
                        
                        .ui-checkbox {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            width: var(--checkbox-diameter);
                            height: var(--checkbox-diameter);
                            border-radius: var(--checkbox-border-radius);
                            background: var(--secondary-color);
                            border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
                            -webkit-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            transition: all 0.3s;
                            cursor: pointer;
                            position: relative;
                        }
                        
                        .ui-checkbox::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
                            box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
                            border-radius: inherit;
                            opacity: 0;
                            -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
                            -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
                            transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
                        }
                        
                        .ui-checkbox::before {
                            top: 40%;
                            left: 50%;
                            content: "";
                            position: absolute;
                            width: 4px;
                            height: 7px;
                            border-right: 2px solid var(--secondary-color);
                            border-bottom: 2px solid var(--secondary-color);
                            -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
                            -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
                            transform: translate(-50%, -50%) rotate(45deg) scale(0);
                            opacity: 0;
                            -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
                            -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
                            transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
                        }
                        
                        .ui-checkbox:hover {
                            border-color: var(--primary-color);
                        }
                        
                        .ui-checkbox:checked {
                            background: var(--primary-color);
                            border-color: transparent;
                        }
                        
                        .ui-checkbox:checked::before {
                            opacity: 1;
                            -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
                            -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
                            transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
                            -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
                            -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
                            transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
                        }
                        
                        .ui-checkbox:active:not(:checked)::after {
                            -webkit-transition: none;
                            -o-transition: none;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            transition: none;
                            opacity: 1;
                        }

                    input{
                        margin: 0;
                        margin-right: 10px;
                    }
    
                    label {
                        font-size: 18px;
                    }
                }
            }

            .filters{

                .filters-price{

                    h3{
                        font-size: 22px;
                    }

                    .values{
                        font-size: 20px;
                        margin-bottom: 10px;
                    }

                    .filters-price__slider{
                        .filters-slider{
                            width: 70%;
                            height: 5px;
                            background: linear-gradient(90deg, rgba(40,121,254,1) 72%, rgba(0,212,255,1) 100%);
                            margin-top: 30px;
                            margin-bottom: 50px;
                        }

                        .filters-slider .thumb{
                            width: 23px;
                            height: 23px;
                            cursor: grab;
                            background: #fff;
                            border-radius: 50%;
                            border: 2px solid #275efe;
                            top: -10px;
                        }

                        .track-1{
                            background-color: #275efe;
                        }

                    }

                    .filters-price__inputs{
                        display: flex;
                        gap: 20px;

                        .filters-price__label{
                            display: flex;
                            align-items: center;
                            min-width: 100px;
                            height: 40px;
                            border: 1px solid #D9D9D9;
                            border-radius: 4px;

                            .filters-price__text{
                                font-size: 16px;
                                color: #808080;
                            }

                            .filters-price__text:first-child{
                                margin-right: 10px;
                            }

                            .filters-price__text:first-child{
                                margin-left: 15px;
                            }
                            

                            .filters-price__input{
                                border: none;
                                color: #4D4D4D;
                                font-size: 14px;
                            }

                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .right {
        flex: 3;

        .catImg {
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 50px;
        }

        .pages{

            .page{
                display: flex;
            }

            .pagination{
                font-size: 20px;
                font-family: 'Oswald', sans-serif;
                margin-bottom: 20px;
            }
        }
    }
}

@media  ( max-width: 768px){
    .products {
        padding: 10px 20px;
        gap: 10px;

        .left{

            .filterItem {
                margin-bottom: 15px;
    
                h2{
                    font-size: 20px;
                }
            }
        }

        .right {
            .catImg {
                height: 250px;
                margin-bottom: 30px;
            }
        }
    }
}

@media ( max-width: 420px){
    .products{
        flex-direction: column;

        .right{

            display: flex;
            flex-direction: column;
            align-items: center;

            .catImg {
                display: none;
            }

            .pages{

                .pagination{
                    display: none;
                }
            }
        }
    }
}