.products {
    position: relative;
    display: flex;
    padding: 30px 50px 50px 50px;

    .left {
        flex: 1;
        position: sticky;
        height: 80%;
        top: 90px;
    }

    .right {
        flex: 2;

        .pages{

            .page{
                display: flex;
            }

            .pagination{
                font-size: 20px;
                font-family: 'Oswald', sans-serif;
                margin-bottom: 20px;
            }
        }
    }
}

@media  ( max-width: 768px){
    .products {
        padding: 10px 20px;
        gap: 10px;

        .left{
            top: 75px;
            
        }
    }
}

@media ( max-width: 420px){
    .products{
        flex-direction: column;

        .left{
            position: static;
    
        }

        .right{

            display: flex;
            flex-direction: column;
            align-items: center;


            .pages{

                .pagination{
                    display: none;
                }
            }
        }
    }
}